<!-- views/partials/_header.ejs -->

<!DOCTYPE html>
<html lang="en">

<% if(user !== undefined){ %>
  <head>
      <title> <%= user.email %> </title>
  </head>
<% } %>

<body>
  <% if(user !== undefined){ %>
    <form action="/logout" method="post">
      <label for="logout"> <%= user.email %> </label>
      <input type="submit" value="Logout"/>
    </form>
  <% } else { %>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <br>
  <% } %>

</body>

</html>